* {
    font-family: "Source Sans Pro", sans-serif;
    text-align: left;
}

.CV-Name {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 30px;
    color: darkgreen;
}

.Bold {
    font-weight: bold;
}

h3 {
    color: darkgreen;
}
